blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.0
pluggy==1.5.0
psutil==5.9.8
pyapproxmc==4.1.24
pytest==8.2.2
python-sat==1.8.dev13
redis==5.0.4
redislite==6.2.912183
setuptools==70.0.0
six==1.16.0
Werkzeug==3.0.3
